@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&subset=latin-ext');

html * {
    font-family: 'Nunito Sans', 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  padding-top: 60px;
}

.logo {
    padding: 10px;
}

.navbar-brand {
    font-size: 1.7em !important;
}
